[Unit]
Description=oFono push agent
Requires=dbus.socket
After=dbus.socket

[Service]
User=radio
ExecStart=/usr/sbin/push-agent -o syslog
ExecReload=/bin/kill -TERM $MAINPID
Restart=always
RestartSec=3

[Install]
WantedBy=network.target
